@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --main: #2F281E;
    --white: #FFFFFF;
    --accent: #FF9900;
    --blue: #173A56;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--dark);
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--dark);
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
    /* background-color: plum; */
}

.header{
    padding: 15px 0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    margin-left: auto;
}

.menu__list{
    display: flex;
}

.menu__list-item{
    margin-right: 26px;
}

.btn{
    border-radius: 4px;
    background: #FF9900;
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn--tr{
    border: 1px solid #BCD0E5;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--blue);
    margin-right: 14px;
}

.header__btn{
    padding: 11px 23px;
}

.top{
    padding: 50px 110px;
}

.top__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top__title{
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
}

.top__description{
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    margin-bottom: 45px;
    max-width: 460px;
}

.top__bottom{
    display: flex;
    align-items: center;
}

.top__btn{
    padding: 15px 41px;
    margin-right: 30px;
}

.top__bottom-link{
    color: var(--accent);
    text-decoration: underline;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-left: 25px;
}

.top__bottom-link::before{
    content: url(../img/play-icon.svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 17px;
    transform: translate(0, 10%);
}

.design{
    background-image: url(../img/Bg.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 90px;
}

.design__title{
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 55px;
}

.design__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.design__item{
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 178px;
}

.design__item-img{
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.design__item-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 17px;
}

.design__item-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.design__btn{
    text-transform: uppercase;
    padding: 15px 32px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    display: block;
    margin: 0 auto;
}

.fw{
    padding: 120px 0 150px;
}

.fw__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fw__row + .fw__row{
    margin-top: 110px;
}

.fw__content{
    max-width: 486px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fw__subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}

.fw__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 20px;
}

.fw__desc{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-bottom: 30px;
}

.fw__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-bottom: 25px;
}

.fw__text-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
}

.fw__list-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    padding-left: 65px;
    padding-bottom: 30px;
    position: relative;
}

.fw__list-item::before{
    content: url(../img/marker.svg);
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    left: 0;
}

.hero{
    background-image: url(../img/her0-bg.svg);
    padding: 115px 0 135px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.hero__inner{
    position: relative;
    padding: 115px 0 250px;
}

.hero__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 20px;
}

.hero__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #567592;
    margin-bottom: 45px;
    max-width: 550px;
}

.hero__btn{
    padding: 15px 30px;
}

.hero__item{
    position: absolute;
}

.hero__item--1{
    top: 66px;
}

.hero__item--2{
    bottom: 0;
    left: 65%;
}

.hero__item--3{
    right: 0;
    bottom: 140px;
}

.hero__item--4{
    top: 0;
    right: 95px;
}

.hero__item--5{
    left: 195px;
    bottom: 75px;
}

.hero__avatar{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
}

.hero__quote{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
    padding: 15px 25px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26px;
    position: absolute;
    width: 275px;
    display: block;
    white-space: nowrap;
}

.hero__quote--right{
    top: -35px;
    left: 65px;
}

.hero__quote--right::before,
.hero__quote--right::after{
    content: '';
    position: absolute;
    background-color: var(--white);
    border-radius: 50%;
}

.hero__quote--right::before{
    width: 17px;
    height: 17px;
    bottom: -6px;
    left: 32px;
}

.hero__quote--right::after{
    width: 9px;
    height: 9px;
    left: 15px;
    bottom: -15px;
}

.hero__quote--left{
    max-width: 320px;
    top: -35px;
    right: 45px;
    width: auto;
}

.ms{
    padding: 30px 0 120px;
}

.ms__title{
    font-size: 34px;
    line-height: 51px;
    font-weight: 700;
    color: var(--main);
    margin-bottom: 9px;
}

.ms__subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-bottom: 55px;
}

.slider__item{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 348px;
    min-height: 358px;
    border-radius: 8px;
    margin-right: 40px;
}

.slider__item-img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
}

.slider__item-context{
    display: flex;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #544837;
    margin-bottom: 12px;
}

.slider__item-author{
    padding-right: 5px;
    border-right: 1px solid var(--main);
}

.author__name{
    font-weight: 700;
}

.slider__item-date{
    padding-left: 5px;
}

.slider__item-title{
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    max-width: 295px;
    transition: all 0.5s;
    cursor: pointer;
}

.slider__item:hover .slider__item-title{
    color: var(--accent);
}

.slick-slide{
    
}

.slick-dots{
    display: flex;
    justify-content: center;
    line-height: 1;
    margin-top: 45px;
}

.slick-dots button{
    font-size: 0;
    width: 16px;
    height: 16px;
    background-color: #e5e5e5;
    border-radius: 50%;
    margin: 0 5px;
    border: none;
    transition: all 0.5s;
}

.slick-dots .slick-active button{
    background-color: #FF9900;
}

.footer{
    padding-top: 120px;
}

.footer__inner{
    padding: 100px 0 95px;
    border-top: 1px solid RGBA(188, 208, 229, 0.5);
    display: flex;
    justify-content: space-between;
}

.footer__title{
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
}

.footer__menu{
    width: 135px;
}

.footer-menu__item + .footer-menu__item{
    margin-top: 20px;
}

.footer-menu__item-link{
    font-size: 16px;
    cursor: pointer;
}

.footer__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 320px;
}


.footer__input{
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin: 35px 0 20px;
}

.footer__input::placeholder{
    font-size: 16px;
    color: #BCD0E5;
}

.footer__btn{
    padding: 8px 15px;
}